html {
  font-family: sans-serif;
}

.flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-box-alt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.description {
  width: 100%;
  padding: 8px;
  margin:3px;
  font-size: 14pt;
  background-color: #d2d2d2;
}

span {
  border-bottom: solid black;
  padding-bottom: 0px;
}

input {
  font-size: 12pt;
  text-align: center;
  max-width: 50%;
  min-width: 33%;
  padding: 16px;
  margin: 3px;
  border-style: solid;
  border-radius: 8px;
  border-width: 2px;
  outline: none;
}

.in-box-small {
  max-width: 33%;
  min-width: 25%;
}

button {
  padding: 10px;
  margin: 3px;
  min-width: 20%;
  max-width: 33%;
  border: none;
  border-radius: 20px;
  background-color: #066adc;
  color: white;
  outline: none;
  cursor: pointer;
}
 button:active {
   background-color: #d2d2d2;
 }

#out-box {
  font-size: 12pt;
  width: 90%;
  height: 128px;
  background-color: #d2d2d2;
  margin: 3px;
  text-align: center;
  resize: none;
  outline: none;
}
